:root {
    --color0: #D9ED92;
    --color1: #B5E48C;
    --color2: #99D98C;
    --color3: #76C893;
    --color4: #52B69A;
    --color5: #34A0A4;
    --color6: #168AAD;
    --color7: #1A759F;
    --color8: #1E6091;
    --color9: #184E77;
    --gradientDark: linear-gradient(0.25turn, #1E6091, #99D98C, #1A759F);
    --gradientLight: linear-gradient(0.25turn, #99D98C, #34A0A4, #B5E48C);
}

*{
    margin: 0;
    padding: 5px;
    font-family: 'Playfair Display', serif;
}

header {
    /* background-image: url('../images/hanging_leaves.jpg');
    background-size: cover; */
    /* color: var(--color2); */
    /* color: white;
    text-align: center; */
    border-radius: .5em;
    /* -webkit-text-stroke: .5px black; */
    position: relative;
}

header::before {
    content: '';
    background-image: url('../images/hanging_leaves.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;   
}

h1 {
    position: relative;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    background: var(--gradientDark);
    border-radius: .5em;
}

h3 {
    background: var(--gradientDark);
    border-radius: .5em;
    margin-top: 10px;
}

body {
    background-color: var(--color9);
}

form {
    position: relative;
    margin: 10px;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

label {
    font-size: 1.5rem;
}

button {
    border-radius: .8em;
    background: var(--gradientLight);
    font-weight: bold;
}

#search-btn {
    background: var(--gradientDark);
    color: white;
}

#forecast-display {
    width: 100%;
    background-color: var(--color0);
    border-radius: .5em;
}

.container-fluid {
    background-image: url(../images/mushroom.jpg);
    background-size: cover;
    border-radius: .5em;
}

#city-input {
    border-radius: .8em;
}

.icon {
   display: inline-block;
   width: 50; 
   height: 50;
}

.description {
    display:inline-block;
}

.card {
    font-weight: bold;
    background: radial-gradient(#D9ED92, #B5E48C, #76C893);
}

.city-name {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

#extended-forecast .card {
    background-color: white;
}

@media screen and (max-width: 750px) {
    #extended-forecast .card {
        margin-left: 20px;   
    }
}