:root {

    /* spring gradient */
    --spring0: #D9ED92;
    --spring1: #B5E48C;
    --spring2: #99D98C;
    --spring3: #76C893;
    --spring4: #52B69A;
    --spring5: #34A0A4;
    --spring6: #168AAD;
    --spring7: #1A759F;
    --spring8: #1E6091;
    --spring9: #184E77;
    /* --gradientDark: linear-gradient(0.25turn, #1E6091, #99D98C, #1A759F); */
    /* --gradientLight: linear-gradient(0.25turn, #99D98C, #34A0A4, #B5E48C); */

    /* summer gradient */
    --summer0: #BD2601;
    --summer1: #D44D01;
    --summer2: #EA7401;
    --summer3: #F7A200;
    --summer3: #FBBF03;
    --summer4: #FFE700;
    --summer5: #FFEE57;
    --summer6: #FFF4AD;
    --summer7: #FCF4DD;
    /* --gradientDark: linear-gradient(0.25turn, #BD2601, #FBBF03, #EA7401);
    --gradientLight: linear-gradient(0.25turn, #FFEE57, #EA7401, #FFF4AD); */

    --fall1: #bc6c25;
    --fall2: #dda15e;
    --fall3: #fefae0;
    --fall4: #283618;
    --fall5: #606c38;
    --gradientDark: linear-gradient(0.25turn, #BD2601, #FBBF03, #EA7401);
    --gradientLight: linear-gradient(0.25turn, #FFEE57, #EA7401, #FFF4AD);
    
    
}

.card {
    font-weight: bold;
    /* summer gradient */
    /* background: radial-gradient(#D9ED92, #B5E48C, #76C893); */

    /* Summer gradient */
    /* background: radial-gradient(#FFEE57, #ca6702); */

    /* summer gradient */
    background: radial-gradient(#fefae0, #bc6c25);
}

*{
    margin: 0;
    padding: 5px;
    font-family: 'Playfair Display', serif;
}

header {
    /* background-image: url('../images/hanging_leaves.jpg');
    background-size: cover; */
    /* summer: var(--summer2); */
    /* summer: white;
    text-align: center; */
    border-radius: .5em;
    /* -webkit-text-stroke: .5px black; */
    position: relative;
}

header::before {
    content: '';
    background-image: url('../images/hanging_leaves.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;   
}

h1 {
    position: relative;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    background: var(--gradientLight);
    border-radius: .5em;
}

h3 {
    /* background: var(--gradientDark); */
    border-radius: .5em;
    margin-top: 10px;
}

body {
    background-color: var(--spring9);
}

form {
    position: relative;
    margin: 10px;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

label {
    font-size: 1.5rem;
}

button {
    border-radius: .8em;
    background: var(--gradientLight);
    font-weight: bold;
}

#search-btn {
    background: var(--gradientDark);
    color: white;
}

#forecast-display {
    width: 100%;
    /* background-summer: var(--summer0); */
    border-radius: .5em;
}

.container-fluid {
    background-image: url(../images/mushroom.jpg);
    background-size: cover;
    border-radius: .5em;
}

#city-input {
    border-radius: .8em;
}

.icon {
   display: inline-block;
   width: 50; 
   height: 50;
}

.description {
    display:inline-block;
}

.city-name {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

#extended-forecast .card {
    
}

@media screen and (max-width: 750px) {
    #extended-forecast .card {
        margin-left: 20px;   
    }
}