:root {
    --color0: #D9ED92;
    --color1: #B5E48C;
    --color2: #99D98C;
    --color3: #76C893;
    --color4: #52B69A;
    --color5: #34A0A4;
    --color6: #168AAD;
    --color7: #1A759F;
    --color8: #1E6091;
    --color9: #184E77;
}

*{
    margin: 0;
    padding: 5px;
    font-family: 'Playfair Display', serif;
}

header {
    background-color: var(--color0);
    text-align: center;
    border-radius: .5em;
}

body {
    background-color: var(--color7);
}

form {
    margin: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

label {
    font-size: 1.5rem;
}

button {
    border-radius: .5em;
    background-color: var(--color5);
    font-weight: bold;
}

#forecast-display {
    width: 100%;
    background-color: var(--color0);
    border-radius: .5em;
}

/* #forecast-row {
    flex-wrap: nowrap;
} */

/* ul{
    width: 10%;
    display: inline-block;
} */

/* section {
    display: inline-block;
} */

/* #main {
    margin: 0;
} */
